<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="passphrase" value="y5s1j49zqmd"/>
    <add key="apikey" value="15e5e2235d65fa3e7098129ab018ea36"/>
    <add key="secretkey" value="VO9MCJy7hZ5XHsV58RkFKFUAzyU6BQG+OL4adzP5LSEcal3XvuN06MHKZZuPuy1nAi/XqNJuz8gtwgotqbHpUA=="/>
  </appSettings>
</configuration>